<div class="card mb-3" style="max-width: 800px;" id="card">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-white">{{name}}</h5>
                <p class="card-text text-white">{{description}}</p>
                <h6 class="text-white">Working at: {{companyName}}</h6>
                <h6 class="text-white">Location: {{location}} </h6>
                <h6 class="text-white">Role: {{role}}</h6>
                <h6 class="text-white">GitHub Link: <a target="_blank" href="https://github.com/Alanmp1857">here</a>
                </h6>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/photo.jpg" class="img-fluid rounded h-70" alt="alan_image" (click)="openImage()">
        </div>
    </div>
</div>